{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags cloudinary %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <p class="home-links">
        <a href="/pages/" class="btn btn-primary button--grey">Home page</a>
        <a href="/pages/posts/" class="btn btn-primary button--grey">Posts page</a>
    </p>

    <h1>{{ page.title }}</h1>
    {{ page.body|richtext }}

    {% with blocks=self.extra %}

        {% for block in blocks %}
            {% if block.block_type == 'heading' %}
                <h1>{{ block.value }}</h1>
            {% elif block.block_type == 'paragraph' %}
                <h1>{{ block.value|richtext }}</h1>
            {% elif block.block_type == 'image' %}
                {{ block }}
                {% cloudinary block.value width=300 crop="scale" %}
            {% endif %}
        {% endfor %}

    {% endwith %}

    <p><a href="{{ page.get_parent.url }}" class="button--grey">Return to blog</a></p>

{% endblock %}
