{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <p class="home-links">
        <a href="/pages/" class="btn btn-primary button--grey">Home page</a>
        <a href="/pages/posts/" class="btn btn-primary button--grey">Posts page</a>
    </p>

    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in blogpages %}
        {% with post=post.specific %}
            <h2>{{ post.title }}</h2>
            {{ post.body|richtext }}
            <a href="{% pageurl post %}" class="button--grey">View details</a>
        {% endwith %}
    {% endfor %}

{% endblock %}
